
* {
    box-sizing: border-box;
    margin: 0;
    font-synthesis: none !important;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'PP Neue Montreal';
    src: url('https://cdn.shopify.com/s/files/1/0886/1895/8882/files/PPNeueMontrealMono-Book.woff2?v=1781031423') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0886/1895/8882/files/PPNeueMontrealMono-Book.woff?v=1781031424') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/** Theme styles below */
html,
body {
    /* height: 100%; */
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--switzer);
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    touch-action: manipulation;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: var(--ppneue);
}
h1 {
    font-size: clamp(60px, 5vw, 90px);
    letter-spacing: 0.16px;
}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.container-fluid {
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
}

.custom-btn {
    display: inline-block;
    padding: 12px 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4.16px;
    text-align: center;
    transition: .3s ease all;
    text-decoration: none;
    border: 1px solid transparent;
}
.custom-btn.filled {
    color: var(--text-primary);
    background-color: var(--bg-light);
    border-color: var(--bg-light);
}
.custom-btn.filled:hover {
    background-color: var(--bg-primary);
    color: var(--white);
}


/* Header CSS */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
header.transparent {
    background-color: transparent;
}
.header-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header-logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 140px;
}
.header-logo img {
    width: 100%;
}
.hi-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.right-extra {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
/* Header CSS */

/* Homepage CSS */
.banner.home {
    position: relative;
    height: 100vh;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}
.banner .bg-image picture,
.banner .bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.banner-in {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content {
    
}
.bc-top .bct-image {
    width: 80%;
    margin: auto;
}
.bct-image img {
    width: 100%;
}
.bc-bottom {
    margin-top: 100px;
}
.bc-bottom .bcb-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.bcb-content h1 {
    color: var(--white);
    font-size: 30px;
    text-align: center;
}
.bcb-content p {
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 134%;
    max-width: 56ch;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* Homepage CSS */
